/**********************************************************
************************** CORES **************************
**********************************************************/
:root {
    --preto: #000000;
    --branco: #ffffff;
    --cor1: #006658;
    --cor2: #388575;
    --cor3: #f6af42;
    --cor4: #fff2cc;
    --cor5: #00ff00;
}

/**********************************************************
************************** CORPO **************************
**********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

/**********************************************************
************************** MAIN ***************************
**********************************************************/
.realizada {
    background: #00ff00;
    width: 100%;
    height: 900px;
}

.banner
{
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 100px;
}

.check
{
    font-size: 200px;
}

.escrita
{
    font-size: 100px;
}

.botao {
    margin-left: 44%;
}

.voltar
{
    background-color: #e7e7e7; color: black;
}